html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
video {
  pointer-events: none
}

.logo{
  position: absolute;
  top: 92vh;
  left: 5vh;
  z-index: 998;
  max-width: 200px;
  height: auto;
  pointer-events: none
}

#fpsLabel {
  position: absolute;
  top: 25px;
  z-index: 3;
  background: blanchedalmond
}

#debugLabel {
  position: absolute;
  top: 5px;
  z-index: -1;
  background: blanchedalmond
}

#streamingDiv{
  position: absolute;
  top: 50px;
  right: 0px;
  width: 600px;
  z-index: 0;
  background: black;
}

#inputStreamingField{
  margin:12px 15px;
  width: 450px
}

#inputButton{
  background-color: #063c9d;
  color:#ffffff;
  width: 100px;
  font-weight: bold
}


.back-zoom {
  position: absolute;
  z-index: 1000;
  bottom: 15px;
  left: 20px;
  font-size: 74px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  opacity:0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.back-zoom.open {
  opacity: 1;
}

::placeholder {
  color: #878a8d;
  font-style:italic;
  opacity: 1 /* Firefox */
}


/*BABYLON CSS*/
#renderCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    /*  */
}

/*DEBUG CSS*/
#fpslabel {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #999;
    cursor: default;
}
/*UI STUFF*/
/*Colour Picker*/
#UIHolder {
  position: absolute;
  z-index:2
}

/*Env Picker*/
#envPicker {
	margin-left:auto;
	margin-right:auto;
	width: 10vh;
	  border-style: solid;
	  border-width: 0.4vh;
	  border-color: #2C3E50;
	background-color:rgba(44, 62, 80, 0);
  }
  #envPicker div {
	  display: block;
		cursor:pointer;
	  -webkit-transition: .25s ease;
	  -moz-transition: .25s ease;
	  -ms-transition: .25s ease;
	  -o-transition: .25s ease;
	  transition:  .25s ease;
  }
  .envOption{
		margin: 2vh;
		width: 5vh;
		height: 5vh;
  }
  #channel {
	  background-color: #063c9d;
  }
  #pack {
	  background-color: rgb(255, 50, 228);
  }

  .selectedEnv {
	margin: 0.6vh;
	width: 8vh;
	height: 8vh;
  }

  /*Light Picker*/
#lightPicker {
	margin-left:auto;
  margin-right:auto;
  
	  width: 10vh;
	  border-style: solid;
	  border-width: 0.4vh;
	  border-color: #2C3E50;
	background-color:rgba(44, 62, 80, 0);
  }
  #lightPicker div {
	  display: block;
		cursor:pointer;
		-webkit-transition: .25s ease;
		-moz-transition: .25s ease;
		-ms-transition: .25s ease;
		-o-transition: .25s ease;
		transition:  .25s ease;

  }
  .lightOption{
		margin-left: 1.5vh;
		margin-bottom: 2vh;
		margin-top: 2vh; 
		width: 6vh;
		height: 6vh;
		border-radius: 50%;
    background-color: rgb(73, 73, 73);
    opacity: 0.3;
  }

  .light {
    background-color: rgb(255, 255, 0);
  }

  .audio {
	  background-color: rgb(140, 0, 255);
  }

  .tv {
	  background-color: rgb(0, 0, 0);
  }

  .lightOn {
  opacity:1
  }